#gpa-panel {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}

#gpa-btn {
  cursor: pointer;
}

.bl-btn {
  margin-left: 2pt;
  color: white;
}

.subject-block {
  display: inline-block;
  margin-right: 5px;
}

#gpa-table .label {
  line-height: 2 !important;
}

.subject-block .code {
  z-index: 9999999;
  position: relative;
}

.subject-block .point {
  margin-left: -3px;
  position: relative;
}

.non-gpa {
  font-size: 10pt !important;
  line-height: 2 !important;
  /* position: relative; */
}

.non-gpa-delete {
  margin-left: -2px;
  margin-right: 2px;
  /* position: relative; */
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.spacing-h {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}