body {
    width: 400px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    color: rgb(242, 113, 37);
}

.myDiv {
    margin-left: 4%;
    margin-right: 4%;
    display: none;
}

#k5 {
    display: none;
    text-align: center;
    font-weight: bold;
}

#btn {
    text-align: center;
}

.col-xs-4 {
    display: flex;
    justify-content: center;
}

.form-check-label {
    display: inline-block;
    vertical-align: top;
    margin-right: 3%;
    margin-left: 1%;
}

input .form-check-input {
    display: inline-block;
    vertical-align: top;
    margin-left: 100%;
    padding-left: 100%;
    width: 1%;
}

.footer {
    background-color: rgb(242, 113, 37);
    color: #fff;
    text-align: center;
    padding: 15px 0px;
    font-size: 1.8rem;
}

.footer>p {
    font-size: smaller;
}

#k5>img {
    width: 200px;
}

#gen {
    display: flex;
    justify-content: center;
    text-align: center;
}

.gen {
    background-color: rgb(242, 113, 37);
    border-color: white;
    font-size: 15px;
    margin: 0 15px;
    margin-top: 5px;
}

.gen:hover{
    background-color: #fff;
    color: rgb(242, 113, 37);
    border-color: rgb(242, 113, 37);
}

.gen:focus{
    background-color: rgb(242, 113, 37);
    border-color: white;
    color: white;
}

.btn-group{
    margin-left: 10px;
    margin-right: 10px
}
.form-check{
    width: 100%;
    margin-left: 5%;
}

.dropdown-item-text{
    text-align: center;
}
.dropdown-menu {
    width: max-content;
}
