body {
    width: 400px;
}

label {
    margin-bottom: 2px;
}

div {
    margin-bottom: 5px;
}

.myDiv {
    margin-left: 4%;
    margin-right: 4%;

}

.dropdown-item:active {
    background-color: rgb(242, 112, 27);
}

#btn {
    text-align: center;
}

.col-xs-4 {
    display: flex;
    justify-content: center;
}

.form-check-label {
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    margin-left: 1%;
}

input .form-check-input {
    display: inline-block;
    vertical-align: top;
    margin-left: 100%;
    padding-left: 100%;
    width: 1%;
}

.row {
    background-color: rgb(17, 17, 17);
    --bs-gutter-x: 0;
}

.footer {
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 10px 0;
    /* font-size: 1.4rem; */
}

.footer>p {
    /* font-size: smaller; */
    margin-bottom: 5px;
}

a {
    color: rgb(240, 111, 27);
}

#k5>img {
    width: 200px;
}

#gen {
    display: flex;
    justify-content: center;
}

.navbar {
    margin: 8px 0px;
}

.btn-group {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1.5px solid rgb(242, 112, 27);
}

.btn-group:hover {
    border: 0px;
}

.settingSwitch {
    width: 100%;
    margin-left: 5%;
}

.dropdown-item-text {
    text-align: center;
}

.dropdown-menu {
    width: max-content;
    max-width: 300px;
}

.saveBtn:focus {
    background-color: rgb(242, 112, 27)
}

.saveBtn:hover {
    background-color: white;
    border-color: rgb(242, 112, 27);
    color: rgb(242, 112, 27);
}

.saveBtn:active {
    background-color: rgb(242, 112, 27);
}

.saveBtn {
    margin-top: 5px;
    background-color: rgb(242, 112, 27);
    border-color: white;
}


.genSwitch {
    scale: 200%;
    margin: 0 15px;
}

.gen {
    color: rgb(242, 112, 27);
    font-weight: bold;
}

#K18 {
    text-align: right;
    padding: 0 10px;
}

#K19 {
    text-align: left;
    padding: 0 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    color: rgb(242, 113, 37);
    margin: auto;
    padding-inline-start: 1em;
}

.settingBtn img {
    width: 30px;
    height: 30px;
}

.settingBtn {
    padding-right: 4px;
}


.theme {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(242, 112, 27);
    padding: 4px 4px;
}

.theme:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.btn.show {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.dropdown-toggle-split:hover {
    background-color: rgb(242, 112, 27);
    color: white;
}

.travelBtn {
    border-right: 1.5px solid rgb(242, 112, 27);
}

.travelBtn:hover {
    background-color: rgb(242, 112, 27);
    color: white;
}

.bg-primary {
    background-color: rgb(242, 112, 27);
}
.dropdown-item{
    cursor: pointer;
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }